@font-face {
    font-family: 'Amatic SC';
    src: url('./AmaticSC-Regular.ttf');
}

@font-face {
    font-family: 'Amatic SC';
    src: url('./AmaticSC-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Arvo';
    src: url('./Arvo-Regular.ttf');
}

body {
    background: rgb(95, 95, 255);
    font-family: Arvo;
}

h1 {
    background:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    font-family: Amatic SC;
    text-align: center;
}

.welcome {
    font-size: 5em;
    color: aquamarine;
    text-align: center;
}

.spacelink {
    color: pink;
}